# Solearn — Contrato Solana
# Copiar a .env y completar

# Cluster de Solana
SOLANA_CLUSTER=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com

# Deployer wallet
DEPLOYER_KEYPAIR_PATH=~/.config/solana/id.json
DEPLOYER_ADDRESS=35ibw735mSNa61tkB7UK5HAD1BJx8seVTcvKM66UejHp

# Program ID (generado por anchor keys sync)
PROGRAM_ID=Cj6wPBbQoBZW9GbgAcUtfJEiJZiawiRKzk9JXLTzkfUR

# Para test local
# SOLANA_CLUSTER=localnet
# SOLANA_RPC_URL=http://127.0.0.1:8899
